<h2> Search Map</h2>
<!-- form_withはデフォルトでremote: trueの挙動になる -->
<%= form_with url: map_request_path, method: :get do |f|%>
  <%= f.text_field :address %>
  <%= f.submit '地図表示' %>
<% end %>

<div id="map">
</div>

<style>
  #map{
    height: 400px;
  }
</style>

<script>
  let mapInstance

  function initMap(){
    mapInstance = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644}, //地図の中心座標
    zoom: 8 //地図の縮尺値
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api&/js?key=AIzaSyDyqK1l6ux1FhSyKHQPdA4uNgRx5Vm6x1k&callback=initMap" async defer></script>